/*trick fot setting a background image of the body with opacity*/
body::after{

  content:"";
  background: url('img/background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  animation-name: gentle-bg-fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;

}


@keyframes gentle-bg-fadeIn {

  0% {opacity:0;}
  10% {opacity:0.1;}
  20% {opacity:0.2;}
  30% {opacity:0.3;}
  40% {opacity:0.4;}
  50% {opacity:0.5;}
  60% {opacity:0.6;}
  70% {opacity:0.7;}
  80% {opacity:0.8;}
  90% {opacity:0.9;}
  100% {opacity:1;}
}



#circles-container{

  /*fix the box at the center of the page*/
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.images-box{
  text-align: center;


  width: 100%;
  /*fix the box at the center of the page*/
  position: fixed;
  top: 30%;
  left: 50%;
  /* i want it centered, not centering the top-left corner */
  transform: translate(-50%, -50%);

  display: none;
}


.images-box > img {

  /*set the reflection*/
 -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.3)));
}

img:hover{

  cursor: pointer;
}

.ultra-small{
  max-width:4%;
}

.small{
  max-width:5%;
}

.small-mid{
  max-width:6%;
}

.mid{
  max-width:8%;
}

.mid-big{
  max-width:11%;
}

.big{
  max-width:15%;
}

.mega-small{
  max-width:9%;
  transform: translate(15%,15%); /*megasceptile is a megaweirdo*/
}

.mega-small-mid{
  max-width:12%;
}

.mega-normal{
  max-width:16%;
}

.mega-big{
  max-width: 21%;
}

img:hover{
  transform: scale(1.3,1.3);
}

img:active{
  transform: scale(1.1,1.1);
}

.megastone-activated{
  animation-name: rotate;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*adding some basic animation*/
.circle:hover{
  r: 8%;
  cursor: pointer;
}


#text-container{
  padding: 1%;
  position: fixed;
  top:70%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;

  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  z-index: 10;

  display: none; /*sometimes there are problems if it's not as last instruction*/
}


#pokeball-box{

  position:fixed;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);

  text-align: center;
}


#pokeball{

  max-width:8%;
  animation-name: rotate;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes rotate{

  0% {transform: rotate(0deg);}
  12% {transform: rotate(45deg);}
  25% {transform: rotate(90deg);}
  37% {transform: rotate(135deg);}
  50% {transform: rotate(180deg);}
  62% {transform: rotate(225deg);}
  75% {transform: rotate(270deg);}
  87% {transform: rotate(315deg);}
  100% {transform: rotate(360deg);}

}

#pokeball-box.enso-clicked{
  animation-name: slide;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide{
  100% {left: 50%;}
}

#enso-box{

  position:fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

#enso{
  max-width:20%;
}

#megastone-box{

  position: fixed;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);

  text-align: center;
}

#megastone{

  max-width: 30%;

}

#megastone:not(.megastone-activated){

  animation-name: shake;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes shake{

  0% {transform: rotate(0deg);}
  5% {transform: rotate(10deg);}
  10% {transform: rotate(-10deg);}
  15% {transform: rotate(0deg);}
  40% {}
  50% {}
  60% {}
  70% {}
  80% {}
  90% {}
  100% {}


}


#megastone:hover{

  transform: scale(1.2, 1.2);
}

#megastone:active{
  transform: scale(1.1, 1.1);
}

.mega{
  display: none;
}


@media only screen and (max-width: 400px) and (min-height: 530px) {


  #pokeball-box{
    top:95%;
  }

  #megastone-box{
    top:95%;
  }

  #enso-box{
    top:95%;
  }

  #text-container{
    top:80%;
  }


  #pokeball{
    max-width: 8%;
  }

  #megastone{
    max-width: 60%;
  }

  .ultra-small{
    max-width:8%;
  }


  .small{
    max-width:10%;
  }

  .small-mid{
    max-width:12%;
  }

  .mid{
    max-width:14%;
  }

  .mid-big{
    max-width:22%;
  }

  .big{
    max-width:30%;
  }

  .mega-small{
    transform: translate(15%,15%); /*megasceptile is a megaweirdo*/
    max-width:22%;
  }

  .mega-small-mid{
    max-width:26%;
  }

  .mega-normal{
    max-width:31%;
  }

  .mega-big{
    max-width: 36%;
  }


  .images-box > img{
    margin: 10% 8% 5% 8%;
  }

  /*just for safety*/
  .images-box{
    margin-top: 8%;
  }

}
